@tailwind utilities;

.bg-section-1 {
  background-image: url("public/img/bg1.jpg");
}

.bg-section-2 {
  background-image: url("public/img/bg2.jpg");
}

.bg-section-3 {
  background-image: url("public/img/bg3.jpg");
}

.button {
  @apply px-4 py-2 rounded font-semibold bg-gray-200 text-black;
}

.decoration-black {
  background-image: url("public/img/decoration-black.svg");
}

.decoration-gold {
  background-image: url("public/img/decoration-gold.svg");
}

.decoration-white {
  background-image: url("public/img/decoration-white.svg");
}

.section-shadow::after,
.section-shadow::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  content: "";
  z-index: -1;
}

.section-shadow::after {
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.section-shadow::before {
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.30);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.3), 0 2px 4px rgba(0,0,0,0.2);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.3), 0 5px 15px rgba(0,0,0,0.2);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .text-shadow-sm {
    text-shadow: 0 2px 3px rgba(0,0,0,0.7);
  }
}
